In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings('ignore')

In [5]:
links = pd.read_csv("links.csv")
movies= pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")
tags = pd.read_csv("tags.csv")

In [6]:
links.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [7]:
movies.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [8]:
ratings.head(1)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703

In [9]:
tags.head(1)

   userId  movieId    tag   timestamp
0       2    60756  funny  1445714994

In [12]:
print(movies.isnull().sum())
print(ratings.isnull().sum())
print(tags.isnull().sum())
print(links.isnull().sum())

movieId    0
title      0
genres     0
dtype: int64
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64
userId       0
movieId      0
tag          0
timestamp    0
dtype: int64
movieId    0
imdbId     0
tmdbId     8
dtype: int64

In [16]:
print(movies.duplicated().sum())
print(ratings.duplicated().sum())
print(tags.duplicated().sum())
print(links.duplicated().sum())

0
0
0
0

As this is most popular recommendation system, we only need movies and ratings. 
Later we can include all other info if required for the filtered movies. 

So, primarily working on the movies and ratings.

In [19]:
ratings_with_names = ratings.merge(movies,on='movieId')

In [20]:
ratings_with_names.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [24]:
filter1 =ratings_with_names.groupby('title').count()['rating'].reset_index()
filter1.rename(columns={'rating':'Count'},inplace=True)
filter1

                                          title  Count
0                                    '71 (2014)      1
1       'Hellboy': The Seeds of Creation (2004)      1
2                        'Round Midnight (1986)      2
3                           'Salem's Lot (2004)      1
4                     'Til There Was You (1997)      2
...                                         ...    ...
9714                            eXistenZ (1999)     22
9715                                 xXx (2002)     24
9716             xXx: State of the Union (2005)      5
9717                      ¡Three Amigos! (1986)     26
9718  À nous la liberté (Freedom for Us) (1931)      1

[9719 rows x 2 columns]

In [28]:
filter2 = ratings_with_names.groupby('title').mean()['rating'].reset_index()
filter2.rename(columns={'rating':'Average Rating'},inplace=True)
filter2

                                          title  Average Rating
0                                    '71 (2014)        4.000000
1       'Hellboy': The Seeds of Creation (2004)        4.000000
2                        'Round Midnight (1986)        3.500000
3                           'Salem's Lot (2004)        5.000000
4                     'Til There Was You (1997)        4.000000
...                                         ...             ...
9714                            eXistenZ (1999)        3.863636
9715                                 xXx (2002)        2.770833
9716             xXx: State of the Union (2005)        2.000000
9717                      ¡Three Amigos! (1986)        3.134615
9718  À nous la liberté (Freedom for Us) (1931)        1.000000

[9719 rows x 2 columns]

In [29]:
df1 = filter1.merge(filter2,on='title')
df1

                                          title  Count  Average Rating
0                                    '71 (2014)      1        4.000000
1       'Hellboy': The Seeds of Creation (2004)      1        4.000000
2                        'Round Midnight (1986)      2        3.500000
3                           'Salem's Lot (2004)      1        5.000000
4                     'Til There Was You (1997)      2        4.000000
...                                         ...    ...             ...
9714                            eXistenZ (1999)     22        3.863636
9715                                 xXx (2002)     24        2.770833
9716             xXx: State of the Union (2005)      5        2.000000
9717                      ¡Three Amigos! (1986)     26        3.134615
9718  À nous la liberté (Freedom for Us) (1931)      1        1.000000

[9719 rows x 3 columns]

--- So we got the count and average of the movies. Now we put the filter for selecting the top 50 movies.

In [32]:
df1 = df1[df1['Count'] >= 50].sort_values("Average Rating",ascending = False).head(50)
df1

                                                  title  Count  Average Rating
7593                   Shawshank Redemption, The (1994)    317        4.429022
3499                              Godfather, The (1972)    192        4.289062
3011                                  Fight Club (1999)    218        4.272936
1961                              Cool Hand Luke (1967)     57        4.271930
2531  Dr. Strangelove or: How I Learned to Stop Worr...     97        4.268041
6999                                 Rear Window (1954)     84        4.261905
3500                     Godfather: Part II, The (1974)    129        4.259690
2334                               Departed, The (2006)    107        4.252336
3564                                  Goodfellas (1990)    126        4.250000
1593                                  Casablanca (1942)    100        4.240000
2163                            Dark Knight, The (2008)    149        4.238255
9119                         Usual Suspects, The (1995)    204        4.237745
6808                         Princess Bride, The (1987)    142        4.232394
8001          Star Wars: Episode IV - A New Hope (1977)    251        4.231076
7421                            Schindler's List (1993)    220        4.225000
563                               Apocalypse Now (1979)    107        4.219626
420                           American History X (1998)    129        4.217054
8002  Star Wars: Episode V - The Empire Strikes Back...    211        4.215640
1736                                   Chinatown (1974)     59        4.211864
6944  Raiders of the Lost Ark (Indiana Jones and the...    200        4.207500
6311             One Flew Over the Cuckoo's Nest (1975)    133        4.203008
7079                              Reservoir Dogs (1992)    131        4.202290
6865                                Pulp Fiction (1994)    307        4.197068
5512                                 Matrix, The (1999)    278        4.192446
6176                          North by Northwest (1959)     57        4.184211
390                                      Amadeus (1984)     76        4.184211
400   Amelie (Fabuleux destin d'Amélie Poulain, Le) ...    120        4.183333
1338                                      Brazil (1985)     59        4.177966
3158                                Forrest Gump (1994)    329        4.164134
5780             Monty Python and the Holy Grail (1975)    136        4.161765
7680                   Silence of the Lambs, The (1991)    279        4.161290
2791       Eternal Sunshine of the Spotless Mind (2004)    131        4.160305
7792                                      Snatch (2000)     93        4.155914
7931  Spirited Away (Sen to Chihiro no kamikakushi) ...     87        4.155172
34                                  12 Angry Men (1957)     57        4.149123
3634                             Green Mile, The (1999)    111        4.148649
5058         Life Is Beautiful (La Vita è bella) (1997)     88        4.147727
1803                City of God (Cidade de Deus) (2002)     75        4.146667
7391                         Saving Private Ryan (1998)    188        4.146277
3558  Good, the Bad and the Ugly, The (Buono, il bru...     72        4.145833
8003  Star Wars: Episode VI - Return of the Jedi (1983)    196        4.137755
4360                        Inglourious Basterds (2009)     88        4.136364
5572                                     Memento (2000)    159        4.122642
8793                       To Kill a Mockingbird (1962)     58        4.120690
5205  Lord of the Rings: The Return of the King, The...    185        4.118919
2940                                       Fargo (1996)    181        4.116022
8873                                 Toy Story 3 (2010)     55        4.109091
5204  Lord of the Rings: The Fellowship of the Ring,...    198        4.106061
8328                                 Taxi Driver (1976)    104        4.105769
1146                                Blade Runner (1982)    124        4.100806

In [33]:
final_df = df1.merge(movies,on='title').drop_duplicates('title')[['movieId','title','genres']]
final_df

,movieId,title,genres
0,318,"Shawshank Redemption, The (1994)",Crime|Drama
1,858,"Godfather, The (1972)",Crime|Drama
2,2959,Fight Club (1999),Action|Crime|Drama|Thriller
3,1276,Cool Hand Luke (1967),Drama
4,750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War
5,904,Rear Window (1954),Mystery|Thriller
6,1221,"Godfather: Part II, The (1974)",Crime|Drama
7,48516,"Departed, The (2006)",Crime|Drama|Thriller
8,1213,Goodfellas (1990),Crime|Drama
9,912,Casablanca (1942),Drama|Romance
10,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
11,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
12,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
13,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
14,527,Schindler's List (1993),Drama|War
15,1208,Apocalypse Now (1979),Action|Drama|War
16,2329,American History X (1998),Crime|Drama
17,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
18,1252,Chinatown (1974),Crime|Film-Noir|Mystery|Thriller
19,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure
20,1193,One Flew Over the Cuckoo's Nest (1975),Drama
21,1089,Reservoir Dogs (1992),Crime|Mystery|Thriller
22,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
23,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
24,908,North by Northwest (1959),Action|Adventure|Mystery|Romance|Thriller
25,1225,Amadeus (1984),Drama
26,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
27,1199,Brazil (1985),Fantasy|Sci-Fi
28,356,Forrest Gump (1994),Comedy|Drama|Romance|War
29,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy
30,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
31,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
32,4011,Snatch (2000),Comedy|Crime|Thriller
33,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy
34,1203,12 Angry Men (1957),Drama
35,3147,"Green Mile, The (1999)",Crime|Drama
36,2324,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama|Romance|War
37,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller
38,2028,Saving Private Ryan (1998),Action|Drama|War
39,1201,"Good, the Bad and the Ugly, The (Buono, il bru...",Action|Adventure|Western
40,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
41,68157,Inglourious Basterds (2009),Action|Drama|War
42,4226,Memento (2000),Mystery|Thriller
43,1207,To Kill a Mockingbird (1962),Drama
44,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
45,608,Fargo (1996),Comedy|Crime|Drama|Thriller
46,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX
47,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
48,111,Taxi Driver (1976),Crime|Drama|Thriller
49,541,Blade Runner (1982),Action|Sci-Fi|Thriller

# DONE.